/*#03B8CF*/
html {
	height: auto !important;
	min-height: 100%;
	font-size: 15px;
	}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
	
:focus { outline: none; }

body {
	background: url("../../../_core/images/redox_01.png");
	}

ul, ol, li { list-style: none; }

h2, h3 {
	font-size: 1em;
	font-weight: normal;
	}

/* -------------------------------------------- */
/* 		Liste avec le vocabulaire		 		*/
/* -------------------------------------------- */
.vocab {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	font: 0.866667em/1.2em Verdana,Geneva,sans-serif;	
	position: fixed;
	right: 0.5em;
	top: 1em;
	width: 13em;
	z-index: 300;
	}

	.vocab li {
		cursor: pointer;
		margin: 4px 2px;
		padding: 1px 10px;
		}
	.vocab :hover { box-shadow: 0 0 0 1px red; }
	.vocab .selected {
		box-shadow: 0 0 0 1px red;
		color: #000;
		background: #FFF;
		}
	.vocab li.separ {margin-top: 1em;}

/* -------------------------------------------- */
/* 		Code CSS d'exemple				 		*/
/* -------------------------------------------- */
.code {
	bottom: 0;
	color: #666666;
	font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console",Monaco,"Courier New",Courier,monospace;
	left: 0;
	line-height: 1.2em !important;
	padding: 1em 1.5em;
	position: absolute;
	right: 13em;
	top: 0;
	z-index: 200;
	}

	/* css code area */
	.code * { white-space: nowrap; }
	.code :hover { cursor: pointer; }
	
	.code .selected {
		box-shadow: 0 0 0 1px red;
		color: #000;
		background: #FFF;	
		}

	.code .statement,
	.code .selector,
	.code .declaration {  margin-bottom: 3px; }
	
	.code .block,
	.code .comment,
	.code .at-rule { margin-bottom: 1em;	}

	.code .block .statement { margin-left: 2em; }
	.code .declaration { padding-right: 2em; }
	.code .property { margin-left: 2em; }