html,
body {
	margin: 0;
	padding: 0;
	/*background: #EEE;*/
	font: 13px/1.5 verdana, geneva, sans-serif;
	color: #000;
	min-height: 100%;
	height: auto !important;
	}

body {
	margin: 0 0 1em 0;
	-webkit-text-size-adjust: 15px;
	-ms-text-size-adjust: 15px;
	}

p {
	margin: 0 0 1em 0;
	padding: 0;
	}
	
pre {
	background-color: #FFFCEA; /*FD FF ED	fe f3 f6   #FFF0EF;*/
	box-shadow: 0 0 2px 0 #FFEF89;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	font-size: 1.06667em;
	line-height: 1.3;
	padding: 0 3px
	}

.TRUC p:first-of-type {
	font-weight: bold;
	margin: 10px;
	}

.TRUC-param {
	overflow: auto;
}

.TRUC-param fieldset {
	float: left;
	margin: 0 0 0 3px;
	padding: 2px 2px 4px;
	width: 287px;
}

.TRUC-param input,.TRUC-param select {
	margin: 0;
}

.TRUC-param input[type="range"] {
	margin: 0 0 -5px;
	width: 180px;
}

.TRUC-param input[type="radio"] {
	margin: 0 5px;
}

.TRUC-label1 {
	display: inline-block;
	margin: 0 5px 1px 0;
	text-align: right;
	width: 50px;
}

.TRUC-param span {
	display: inline-block;
	padding-left: 7px;
}

.TRUC-param-min-max {
	display: inline-block;
	/*padding: 0 5px;*/
	width: 20px;
	font-size: 10px;
}

#TRUC-sel-border-color {
	width: 100px;
	cursor: pointer;
}

.TRUC-param-resultat {
	font-size: 16px;
	padding: 1em 0;
}

.TRUC-resultat {
	background: #FFFFFF;
	border: 1px solid #999999;
	height: 170px;
	margin: 1em 0.5em;
	position: relative;
	clear: both;
	overflow: hidden;
}

#TRUC-resultat-parent {
	background: #20C7DE;
	position: absolute;
	left: 10px;
	top: 10px;
}

#TRUC-resultat-boite {
	background: #C0F0F6;
	border-style: solid;
	overflow: hidden;
}

#TRUC-resultat-display {
	background: #FFF;
	overflow: hidden;
}

#TRUC-code {
	margin: 0.5em;
	padding: 0 5px;
	font-size: 14px;
	clear: both;
}