html,
body {
	margin: 0;
	padding: 0;
	font: 13px/1.5 verdana, geneva, sans-serif;
	color: #000;
	min-height: 100%;
	height: auto !important;
	}

body {
	margin: 0 0 1em 0;
	-webkit-text-size-adjust: 15px;
	-ms-text-size-adjust: 15px;
	}

p {
	margin: 0 0 1em 0;
	padding: 0;
	}
	
pre {
	background-color: #FFFCEA;
	box-shadow: 0 0 2px 0 #FFEF89;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	font-size: 1.06667em;
	line-height: 1.3;
	padding: 0 3px
	}

#TRUC-code {
	margin: 0.5em;
	padding: 0 5px;
	font-size: 14px;
	/*width: 390px;*/
	margin: 5px;
}

#TRUC-resultat {
	background: #FFFFFF;
	clear: both;
	height: 150px;
	width: 320px;
	margin: 50px auto;
}
.TRUC-param {
	padding: 0 0 0 10px;
	width: 250px;
	float: left;
	margin: 0 17px;
}

.TRUC-param input,
.TRUC-param select {
	margin: 0;
}

.TRUC-param input[type="range"] {
	margin: 0 0 -5px;
	width: 180px;
}

.TRUC-param input[type="radio"] {
	margin: 0 5px;
}

.TRUC-label1 {
	display: block;
	/*margin: 5px 0 0;*/
	text-align: center;
	width: 208px;
}

.TRUC-label2 {
	display: inline-block;
	margin: 5px 5px 5px 0;
}

.TRUC-label3 {
	display: block;
	width: 180px;
	text-align: center;
}

.TRUC-param span {
	display: inline-block;
	padding-left: 7px;
}

.TRUC-param-min-max {
	display: inline-block;
	/*padding: 0 5px;*/
	width: 20px;
	font-size: 10px;
}

#TRUC-sel-couleur-ombre,
#TRUC-sel-border-color {
	width: 70px;
	cursor: pointer;
}