legend {
	background: #fff;
	border: 1px solid #aaa;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	font-weight: bold;
	height: 20px;
	left: -1px;
	padding: 3px;
	position: absolute;
	top: -27px;
	text-align: center;
	width: 80px;
}
fieldset {
	border: 1px solid #aaa;
	border-radius: 0 8px 0 0;
	margin: 34px auto 0;
	padding: 6px;
	position: relative;
	width: 290px;
}
fieldset:last-of-type {
	border-radius: 0;
	margin: 10px auto;
	text-align: center;
}
fieldset div { margin: 5px 0; }
label {
	display: inline-block;
	text-align: right;
	width: 80px;
}
textarea {font-family: serif; }
input[type="reset"],
input[type="submit"] {
	padding: 2px;
	width: 90px
	}