fieldset {
	border: 1px solid #AAA;
	margin: 0 auto 10px;
	padding: 6px;
	width: 280px
	}

fieldset:last-of-type {
	text-align: center
	}

fieldset div { margin: 5px 0; }

label {
	display: inline-block;
	text-align: right;
	width: 115px
	}
	
input[type="reset"],
input[type="submit"] {
	padding: 2px;
	width: 90px
	}