<div class="nav-links">
  <div class="nav-item"><a [routerLink]="['/list', 'region', 'europe']" routerLinkActive="router-link-active">Pays d'Europe</a></div>
  <div class="nav-item"><a [routerLink]="['/list', 'region', 'africa']" routerLinkActive="router-link-active">Pays d'Afrique</a></div>
  <div class="nav-item"><a [routerLink]="['/list', 'currency', 'CAD']" routerLinkActive="router-link-active">Pays monnaie CAD</a></div>
  <div class="nav-item"><a [routerLink]="['/list', 'currency', 'USD']" routerLinkActive="router-link-active">Pays monnaie USD</a></div>
  <div class="nav-item"><a [routerLink]="['/list', 'currency', 'EUR']" routerLinkActive="router-link-active">Pays monnaie EUR</a></div>
</div>
