* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: verdana, geneva, sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #8BB7BD; /*#221e17;*/
	position: relative;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 {
	color: rgba(255, 255, 255, 0.6);
	font-size: 26px;
}

h2 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 26px;
}

.col-wrapper {
	width: 100%;
	position: relative;
}

.left-col {
	min-width: 760px;
	text-align: center;
	width: calc(100% - 375px);
}

.right-col {
	position: absolute;
	width: 375px;
	height: 100%;
	right: 0;
	top: 0;
}

.right-col {
	overflow: hidden;
}

#header-logo {
	padding: 10px 0 0 10px;
	position: absolute;
	width: auto;
}

/****************************************************************/
/*		COTE GAUCHE												*/
/****************************************************************/
#consigne {
	color: rgba(255, 255, 255, 0.8);
	font-size: 20px;
	padding: 55px 0 0;
}

#blcQuestion {
	padding: 10px 30px;
}

/******** TABLE AVEC LES OBJETS *********/
.table-wrapper {
	margin-top: 10px;
	-webkit-transform: rotateX(20deg) translate3d(0, 0, 0);
	-webkit-transform-origin: bottom;
	-transform-style: preserve-3d;
	transform: rotateX(20deg) translate3d(0, 0, 0);
	transform-origin: bottom;
	min-height: 142px;
}

.table {
	box-shadow: 0px 40px 10px rgba(0, 0, 0, .2);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	outline: solid 1px transparent;
	margin: 0px auto 0px auto;
	background: #DDD;
	min-height: 142px;
	padding: 15px 15px 22px 15px;
	display: inline-block;
	background: #dd992d;
	z-index: 999;
	position:relative;
}

.table-edge  {
	outline: solid 1px transparent;
	display: none;
	display: block;
	margin:0 auto 10px auto;
	background: #ac741c;
	height: 15px;
	-webkit-transform: rotateX(-40deg);
	-webkit-transform-origin: top;
	transform: rotateX(-40deg);
	transform-origin: top;
}

.table-leg {
	width: 24px;
	height: 10px;
	background: #84570f;
	position: absolute;
	top: 15px;
}

.table-leg:first-child {
	left: 20px;
}

.table-leg:last-child {
	right: 20px;
}


/****************************************************************/

.clean {
	-webkit-animation: cleanme .2s 1;
	-webkit-transform: translateY(-600px) rotate3d(0, 0, 0, 0deg);
	-moz-animation: cleanme .2s 1;
	-moz-transform: translateY(-600px);
	animation: cleanme .2s 1;
	transform: translateY(-600px);
}

@keyframes cleanme {
	0% {   transform: translateY(0px) rotate3d(1, 0, 0, 0deg) ; }
	100% { transform: translateY(-600px) rotate3d(1, 0, 0, 0deg);}
}

@-webkit-keyframes cleanme {
	0% {   -webkit-transform: translateY(0px) rotate3d(0, 0, 0, 0deg); }
	100% { -webkit-transform: translateY(-600px) rotate3d(0, 0, 0, 0deg);}
}

@-moz-keyframes cleanme {
	0% {   transform: translateY(0px) rotate3d(1, 0, 0, 0deg) ; }
	100% { transform: translateY(-600px) rotate3d(1, 0, 0, 0deg);}
}


.editor {
	position: relative;
	text-align: left;
	width: 750px;
	margin: 0 auto;
	border: solid 10px rgba(0, 0, 0, .35);
	border-radius: 10px;
	overflow: hidden;
}

.editor-pane {
	float: left;
	width: 50%;
}

.editor-pane:last-child {
	border-right: solid 1px rgba(255, 255, 255, .03);
	border-bottom: solid 1px rgba(255, 255, 255, .03);
}

.editor * {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 150%;
	padding: 0;
	margin: 0;
}

.editor .input-header {
	text-align: left;
	padding: 10px 15px;
	background: rgba(0, 0, 0, .15);
	border-top: solid 1px rgba(255, 255, 255, .05);
	border-bottom: solid 2px #222;
	border-radius: 2px 2px 0 0;
	color: rgba(255, 255, 255, .6);
}

.markup {
	line-height: 150%;
	font-family: menlo;
	z-index: 1;
}

.editor .file-window {
	padding: 10px 10px 10px 46px;
	position: relative;
	min-height: 432px;
}

.editor .css-view {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	color: rgba(0, 0, 0, 0.7);
}

.editor .file-name {
	float: right;
	opacity: .5;
}

.editor .line-numbers {
	position: absolute;
	top: 0;
	left: 0;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	padding: 10px 10px;
	height: 100%;
	line-height: 150%;
	text-align: right;
}

.css-view .line-numbers {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.3);
}

.html-view .line-numbers {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.3);
}

.html-view .file-window {
	background: rgba(0, 0, 0, .4);
}

.editor input {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	color: rgba(0, 0, 0, .7);
	border: none;
	width: calc(100% - 44px);
	background: none;
}

.editor input.input-strobe {
	-webkit-animation: 1s ease 0.5s normal none infinite input;
	animation: 1s ease 0.5s normal none infinite input;
	background: none repeat scroll 0 0 #8cdbf8;
}

@keyframes input {
	50% { background:none ; }
}

@-webkit-keyframes input {
	50% { background:none ; }
}

@-moz-keyframes input {
	50% { background:none ; }
}

.editor input:focus {
	outline: none;
	border-color: #555;
}

.result {
	padding: 10px 0;
	color: #BBB;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
}


.shake {
	-webkit-animation: shake .1s 5;
	animation: shake .1s 5;
}

@-webkit-keyframes shake {
	0%   { -webkit-transform: translateX(0); }
	25% {  -webkit-transform: translateX(-5px); }
	50% {  -webkit-transform: translateX(0); }
	75% {  -webkit-transform: translateX(5px); }
}

@keyframes shake {
	0%   { transform: translateX(0); }
	25% {  transform: translateX(-5px); }
	50% {  transform: translateX(0); }
	75% {  transform: translateX(5px); }
}

.strobe {
	-webkit-animation: strobe 1s infinite;
	-webkit-transform-origin: bottom;
	animation: strobe 1s infinite;
	transform-origin: bottom;
}

@-webkit-keyframes strobe {
    0% { -webkit-transform:   skew(4deg, 0deg) scaleX(1); }
    10% { -webkit-transform:  skew(1deg, 0deg) scaleY(.9) ; }
    50% { -webkit-transform:  skew(-4deg, 0deg) scaleX(1); }
    60% { -webkit-transform:  skew(-1deg, 0deg) scaleY(.9) ; }
    100% { -webkit-transform: skew(4deg, 0deg) scaleX(1); }
}

@keyframes strobe {
	0% { transform:   skew(4deg, 0deg) scaleX(1); }
	10% { transform:  skew(1deg, 0deg) scaleY(.9) ; }
	50% { transform:  skew(-4deg, 0deg) scaleX(1); }
	60% { transform:  skew(-1deg, 0deg) scaleY(.9) ; }
	100% {transform: skew(4deg, 0deg) scaleX(1); }
}

.enter-button {
	background: #ddd;
	display: block;
	border-radius: 2px;
	padding: 2px 7px 2px 7px;
	color: #666;
	border: solid 3px #999;
	border-width: 1px 1px 6px 1px;
	position: absolute;
	right: 13px;
	font-size: 9px;
	position: absolute;
	cursor: pointer;
	top: 7px;
	right: 7px;
	z-index: 999999;
}

.enterhit {
	-webkit-animation: enterhit .1s 1;
	animation: enterhit .1s 1;
}

@-webkit-keyframes enterhit {
	50% {
		border-width: 1px 1px 2px 1px;
		top: 12px;
	}
}
@keyframes enterhit {
	50% {
		border-width: 1px 1px 2px 1px;
		top: 12px;
	}
}

.plus {
	color: #666;
	padding: 0px 4px;
	font-size: 40px;
	display: none;
}


[data-hovered="true"],
assiette [data-hovered="true"] {
	box-shadow: 0 0 0 6px #8cdbf8;
}

.helper {
	position: absolute;
	background: white;
	padding: 10px 15px 12px 15px;
	z-index: 1000;
	font-size: 18px;
	color: #666;
	border-bottom: solid 2px #BBB;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);
	display: none;
	-webkit-transform: rotateX(20deg);
	transform: rotateX(20deg);
	outline: solid 1px transparent;
}

#fantaisie:after {
	border: 10px solid #8ae881;
	border-radius: 60px;
	content: "";
	display: block;
	height: 68px;
	left: calc(50% - 47px);
	position: absolute;
	top: calc(50% - 44px);
	width: 74px;
	/*opacity: .4;*/
}


.display-help {
	font-size: 15px;
	margin: 30px auto 0 auto;
	color: rgba(255, 255, 255, .6);
}

.display-help .selector-name {
	font-size: 18px;
	margin: 0 0 4px 0 ;
}

.display-help .title {
	font-size: 18px;
	margin: 0 0 15px 0;
	font-weight: 300;
	opacity: .7;
}

.display-help .syntax {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 25px;
	padding: 5px 8px;
/*
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 25px;
	padding: 5px 8px;*/
}

.display-help .hint {
	margin-bottom: 20px;
	line-height: 150%;
}

.display-help .hint,
.display-help .example {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
}

.display-help .example {
	border-bottom: solid 1px rgba(255, 255, 255, .05);
	padding: 10px 0 12px 0;
	line-height: 170%;
}

.display-help .example:last-child {
	border: none;
}

.display-help strong,
.display-help tag {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console",Monaco,"Courier New",Courier,monospace;
	font-size: 15px;
	margin: 0 2px;
	padding: 3px 6px;
}

.display-help strong {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
}
.display-help .example strong:first-of-type {
	margin-left: 0px;
}

.display-help .selector-wrapper {
	color: #777;
}

.display-help .selector {
	display: none;
	background: #DDD;
	margin: 5px 0 10px 0;
	padding: 14px 20px 14px 20px;
	font-size: 24px;
	border: solid 1px #DDD;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	display: inline-block;
	display: none;
	color: #666;
	position: relative;
}

.display-help .selector:before {
	content: "Essayez";
	color: #999;
	position: absolute;
	font-size: 15px;
	font-weight: normal;
	top: 8px;
	left: -55px;
	padding: 10px;
}

board {
	display: none;
}


.markup * {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",	Monaco, "Courier New", Courier, monospace;
	cursor: default;
}

.game-wrapper {
	-webkit-perspective: 400px;
	transform: translate3d(0, 0, 0);
	perspective: 400px;
	text-align: center;
	position: relative;
	padding-top: 15px;
	margin-bottom: 50px;
}

.help-wrapper,	/* bloc droite avec infos */
.level-menu {	/* bloc droite avec accès direct niveaux */
	background: rgba(0, 0, 0, .2);
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	top: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.level-menu { left: 500px; }
.level-menu.open { left: 0; }
.help-wrapper.open { left: 500px; }

.level-header {
	padding: 0 0 10px;
}

.level-progress {
	width: 100%;
	background: rgba(0, 0, 0, .4);
}

.level-progress .progress {
	background: rgba(255, 255, 255, .2);
	width: 10%;
	height: 2px;
	position: relative;
}

.level-progress .progress:after {
	content:"";
	position: absolute;
	right: -6px;
	top: -3px;
	height: 4px;
	width: 4px;
	border: solid 2px #2a231d;
	background: rgba(255, 255, 255, .5);
}



.info-wrapper { display: none; }

.markup { line-height: 150%; }

.markup * { color: rgba(255, 255, 255, .6); }

.markup .enhance { color: #59ECF9; }

.markup div { padding-left: 20px; }

.markup > div { padding-left: 0px; }




.levels { margin-right: 63px; }

.level-menu a {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	display: block;
	padding: 5px 30px 5px 12px;
}

.level-menu a:hover { background: rgba(255, 255, 255, .1); }

.level-menu a.current {
	border: 1px solid;
	font-weight: bold;	
}

.level-menu-toggle-wrapper {
	position: absolute;
	top: 22px;
	right: 20px;
	padding: 4px 2px;
	opacity: .5;
	-webkit-transition: linear all .05s;
	transition: linear all .05s;
}

.level-menu-toggle-wrapper:hover { opacity: 1; }

.level-menu-toggle {
	border-bottom: 3px solid rgba(0, 0, 0, .7);
	border-top: 3px solid rgba(0, 0, 0, .7);
	cursor: pointer;
	height: 19px;
	position: relative;
	width: 27px;
}

.level-menu-toggle:after {
	background: rgba(0, 0, 0, 0.7);
	content: "";
	height: 3px;
	position: absolute;
	top: 5px;
	width: 100%;
}

.winner {
	font-size: 30px;
	color: #EEE;
	text-shadow: 0px 4px 0px rgba(0, 0, 0, .15);
	display: inline-block;
	padding: 5px 20px 0px  20px;
	margin: 0;
}

.winner strong { font-size: 40px; }

.level-nav {
	float: right;
	position: relative;
	left: -150px;
	display: none;
}

tag {
	padding: 0 3px;
	color: #AAA;
	font-size: 13px;
	font-weight: bold;
}


/**********************************************************
		SUR LA TABLE
***********************************************************/
assiette {
	box-shadow: 0px 8px 0px rgba(0, 0, 0, .1);
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 10px;
	position: relative;	
	border-bottom: solid 5px #DDD;
	background: white;
	border-radius: 100px;
}

assiette:before {
	content: "";
	display: block;
	position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
	height: 65px;
	width: 65px;
	border-radius: 60px;
	border-top: solid 6px #CCC;
	opacity: .4;
	background: rgba(255, 255, 255,1);
}

plat {
	background: none repeat scroll 0 0 #a52a2a;
	border-color: #711c12;
	border-image: none;
	border-style: solid;
	border-width: 20px 2px;
	box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
	display: inline-block;
	height: 100px;
	margin: 0 10px;
	position: relative;
	width: 100px;
}

plat:before {
	border-color: rgba(0, 0, 0, 0.1);
	border-image: none;
	border-style: solid;
	border-width: 10px 0 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: calc(100%);
}

assiette plat {
	height: 74px;
	width: 74px;
	position: absolute;
	top: -8px;
	left:4px;
}

assiette plat pomme,
assiette plat orange {
	top: -36px !important;
}

orange,
pomme,
cornichon,
plat,
assiette {
	-webkit-transition: all -webkit-transform ease-out .2s;
	transition: all transform ease-out .2s;
}

pomme {
	background: none repeat scroll 0 0 #e41919;
	border-color: #ab1212;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px 4px 15px;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 60px;
	margin: 20px 10px;
	position: relative;
	width: 60px;
}

orange {
	background:#ffa500;
	border-color: #bd6e07;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px 4px 15px;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 60px;
	margin: 20px 10px;
	position: relative;
	width: 60px;
	z-index: 1000;
}

orange:before,
pomme:before {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 100px;
	content: "";
	display: block;
	height: 30%;
	left: calc(50% - 15%);
	position: absolute;
	top: 0;
	width: 30%;
}

cornichon {
	background: #179837;
	border-color: #025a18;
	border-image: none;
	border-radius: 30px;
	border-style: solid;
	border-width: 2px 2px 9px;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 60px;
	margin: 0 10px;
	position: relative;
	width: 25px;
}

carrotte {
	background: orange;
	width: 60px;
	height: 60px;
	display: inline-block;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, .15);
	
	background: #f9e4ac;
	border-style: solid;
	border-color: #88611e;
	border-width: 2px 2px 12px 2px;
	border-radius: 15px 15px 6px 6px;
	margin: 20px 10px;
}


orange.petite,
pomme.petite {
	border-width: 2px 4px 8px;
	height: 30px;
	margin: 30px 10px;
	width: 30px;
}

cornichon.petite {
	border-width: 1px 2px 6px;
	height: 40px;
	margin: 30px 10px;
	width: 18px;
}



/*FRUITS ON A PLATTER*/

plat orange,
plat pomme,
assiette orange,
assiette pomme {
	left: calc(50% - 30px);
	margin: 0;
	position: absolute;
}

assiette > pomme:last-child,
assiette > orange:last-child,
plat > pomme:last-child,
plat > orange:last-child {
	top: calc(50% - 35px);
}

assiette .petite,
plat .petite {
	left: calc(50% - 15px);
	margin-left:0;
	margin-right:0;
}

assiette > .petite:only-child,
plat > .petite:only-child {
	position: absolute;
	top: calc(50% - 15px);
	margin:0;
}

assiette > cornichon:only-child,
plat > cornichon:only-child {
	top: calc(50% - 40px);
	left: calc(50% - 10px);
	z-index: 99999;
	margin: 0;
	position: absolute;
}

assiette > cornichon.petite:only-child,
plat > cornichon.petite:only-child {
	top: calc(50% - 22px);
	left: calc(50% - 8px);
	z-index: 99999;
}

/* fantaisie orange stacking */

assiette pomme,
assiette orange {
	position: absolute;
}

assiette pomme:last-child,
assiette orange:last-child {
	z-index: 300;
}

assiette pomme:nth-last-child(2),
assiette orange:nth-last-child(2) {
	top: -25px;
	z-index: 400;
}

assiette pomme:nth-last-child(3),
assiette orange:nth-last-child(3) {
	top: -65px;
	z-index: 500;
}

assiette pomme:nth-last-child(4),
assiette orange:nth-last-child(4) {
	top: -105px;
	z-index: 600;
}