.bloc-syntaxe {
	margin: 0 0 1em 0;
	overflow: auto;
	}

.bloc-syntaxe > p {
	float: left;
	margin : 0;
	}
.bloc-syntaxe > pre {
	float: left;
	margin: 0 0 0 4em;
	}

.lib-syntaxe {
	background: #eee;
	padding: 0 5px;
	margin-right: 10px;
	display: inline-block;
	width: 4em;
	}
	
.sel-exemple { margin-top: 0; }

.dom-schema {
	background-color: #FFF;
	border-left: 30px solid #eee; 
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	display: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	text-align: center;
	}

.dom-legende {
	float: right;
	text-align: left;
	width: 100px;
	font-size: 0.733333em;
	color: #888;
}
	
/* Pour tester les règles dans la page css02e1.html */
#nth1,
#nth2,
#nth3,
#nth4,
#nth5 {
	margin: 0 auto 1em;
	overflow: auto;
	float: right;
}

#nth1 div,
#nth2 div,
#nth3 div,
#nth4 div,
#nth5 div {
	background: #6E6E6E;
	color: #FFF;
	float: left;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	margin-left: 4px;
	padding: 0;
	text-align: center;
	width: 27px;
	}
	
/* ces règles peuvent être réécrites dynamiquement 
dans le testeur de la page css02e1.html */

#nth1 div:nth-child(5) {
	background: #b30a38;
}
/* odd */
#nth2 div:nth-child(2n+1) {
	background: #b30a38;
}

#nth3 div:nth-child(3n) {
	background: #b30a38;
}

#nth4 div:nth-child(3n+2) {
	background: #b30a38;
}

#nth5 div:nth-child(-2n+6) {
	background: #b30a38;
}
