html {
	height: auto !important;
	min-height: 100%;
	}

body {
	color: #000;
	font: 13px/1.5 verdana, arial, sans-serif;
	height: auto !important;
	margin: 36px 0 0 0;
	min-height: 100%;
	padding: 0;
	-webkit-text-size-adjust: 13px;
	-ms-text-size-adjust: 13px;
	}

form,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	}

input,
select,
textarea,
th,
td {
	font-size: 1em;
	}

table {
	font: inherit;
	}

p {
	font-size: 1em;
	margin: 0 0 1em 0;
	padding: 0;
	}

hr {
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #eeeeee;
	}

h1 {
	background: url("images/__doc.png") no-repeat scroll 5px center #B60A36;
	border-radius: 0;
	box-shadow: 0 0 6px -2px #000000;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	height: 26px;
	overflow: hidden;
	left: 0;
	line-height: 26px;
	margin: 0;
	padding: 5px 2px 5px 27px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;	
	}

#bcMsg {
	text-align: center;
	font-weight: bold;
	}

#bcTxt {
	width: 400px;
	margin: 0 auto;
	}

#bcErr {
	width: 400px;
	margin: 10px auto;
	border: 1px solid red;
	padding: 4px;
	}

#btnClose {
	background: url(images/__cancel24.png) no-repeat;
	cursor: pointer;
	height: 24px;
	position: fixed;
	right: 10px;
	top: 6px;
	width: 24px;
	z-index: 10;
	}

#btnClose:hover {
	background-image: url(images/__cancel24_h.png);
	}

.btn {
	width: 100px;
	margin-left: 20px;
	}

.lien {
	color: #0000CC;
	}

.lab {
	clear: both;
	display: block;
	margin: 12px 0;
	}
.lab > span {
	display: block;
	float:left;
	margin-right: 5px;
	text-align: right;
	width: 230px;
	}
.lab input {
	width: 130px;
	}
.err {
	border: 1px solid #f00;
	color: #f00;
	padding: 5px;
	}
