<div class="country-container">
  <div class="country-infos" *ngIf="country !== undefined && country !== null else error">
    <div class="text-infos">
      <p>Nom: {{country.name}}</p>
      <p>Capitale: {{country.capital}}</p>
      <p>Population: {{country.population}}</p>
      <p>Superficie: {{country.area}}</p>
      <p>Région: {{country.region}}</p>
      <div>Monnaies:
        <ul>
          <li *ngFor="let currency of country.currencies">{{currency.name}} - {{currency.symbol}} - {{currency.code}}</li>
        </ul>
      </div>
    </div>
    <div class="country-flag-container">
      <img [src]="country.flag" class="country-flag"/>
    </div>
  </div>
  <ng-template #error><p class="country-error">Le pays de code '{{alphaCode}}' pays n'existe pas</p></ng-template>
</div>
